<section class="footer text-light py-4 pb-2">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <div class="px-3"> <a href="https://www.facebook.com/" target="blank"> <i class="fab fa-facebook fa-2x footer-icon"></i> </a> </div>
                    <div class="px-3"><a href="tel:01117582905"> <i class="fas fa-phone-alt fa-2x footer-icon"></i></a></div>
                    <div class="px-3"><a href="mailto: mahmouudmoohamed@gmail.com?subject=mmm"> <i class="fas fa-at fa-2x footer-icon"></i> </a></div>
                </div>
            </div>
        </div>
       <!-- <div class="row d-flex justify-content-center my-2 footer-links pl-2">

                    <div class="col-md-1 col-sm-3 col-xs-3 ">
                        <a href="#carouselExampleIndicators">Home</a>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-3">
                        <a href="#services">Services</a>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-xs-3">
                        <a href="#aboutUs">About Us</a>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-3">
                        <a href="#projectsContainer">Projects</a>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-3">
                        <a href="#team-section">Team</a>
                    </div>
                    <div class="col-md-1 col-sm-3 col-xs-3">
                        <a href="#partners-section">partners</a>
                    </div>
               
            
        </div>-->
        <!--<div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <a href="#carouselExampleIndicators">
                        <img src="../../../assets/images/new_logo.png" alt="" srcset="" class=" footer-img">
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="d-flex justify-content-end jumbup">
                            <a href="#carouselExampleIndicators" class="p-2"> <i class="fas fa-chevron-up fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>-->

    </div>
</section>