 <body>   
    <nav id="nav" class=" navbar kayan-navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand kayan-navbar-brand " href="#carouselExampleIndicators" id="navbarBrand"><img class="logo" src="../../../assets/images/kayan_.png" alt="" srcset=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> <i class="far fa-caret-square-down fa-2x "></i></span>
        </button>
        
        <div class="collapse navbar-collapse mt-5" id="navbarSupportedContent">
        <ul id="navList" class="navbar-nav m-auto pr-5 xx" >
            <li class="nav-item item " id='navSlider' >
                    <a class="nav-link" href="#carouselExampleIndicators">Home </a>
            </li>

            <li class="nav-item item" id='navServices'>
                <a class="nav-link" href="#services">Services</a>
                </li>
                
            <li class="nav-item item" id="navAboutUs">
                    <a class="nav-link" href="#aboutUs">About Us</a>
            </li>
            <li class="nav-item item" id="navProjects">
                    <a class="nav-link" href="#projectsContainer" >projects</a>
            </li>
            <li class="nav-item item" id="navTeam">
                    <a class="nav-link" href="#team-section">team</a>
            </li>
            <li class="nav-item item" id="navPartners">
                    <a class="nav-link" href="#partners-section">partners</a>
            </li>

            <li class="nav-item item" id='navWhykayan' >
                <a class="nav-link" href="#whykayan-section" >why Kayan</a>
            </li>

            <li class="nav-item item" id="navContactUs">
                    <a class="nav-link" href="#contactus-section">Contact Us</a>
            </li>
        </ul>

        </div>
    </nav>
</body>